<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.proyecto_udea_winning_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_winning_app_logo_oficial"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_winning_app_logo_oficial"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoUdeAWinningApp"
        tools:ignore="AllowBackup">
        <activity
            android:name=".LoginApp.ForgotPasswordActivity"
            android:label="Recuperar contraseña"
            android:exported="false" />
        <activity
            android:name=".navigation.MainActivity_Navigation"
            android:exported="false" />
        <activity
            android:name=".LoginApp.RegisterActivity"
            android:label="Registrar"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".LoginApp.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".setting_activity.SettingActivity"
            android:exported="false"
            android:label="Settings"
            android:parentActivityName=".navigation.MainActivity_Navigation" />
        <activity
            android:name=".main.MainActivity"
            android:label="WinningAppMisionTic2022-UdeA"
            android:exported="false" />
        <activity
            android:name=".clases_layout.isla_cartuja"
            android:exported="false"
            android:label="POI de Sevilla" />
        <activity
            android:name=".clases_layout.plaza_toros"
            android:exported="false"
            android:label="POI de Sevilla" />
        <activity
            android:name=".clases_layout.torre_giralda"
            android:exported="false"
            android:label="POI de Sevilla" />
        <activity
            android:name=".clases_layout.catedral"
            android:exported="false"
            android:label="POI de Sevilla" />
        <activity
            android:name=".clases_layout.museo_bellas_artes"
            android:exported="false"
            android:label="POI de Sevilla" />
        <activity
            android:name=".clases_layout.parque_maria_luisa"
            android:exported="false"
            android:label="POI de Sevilla" />
        <activity
            android:name=".clases_layout.reales_alcazares"
            android:exported="false"
            android:label="POI de Sevilla" />
        <activity
            android:name=".clases_layout.iglesia_san_luis"
            android:exported="false"
            android:label="POI de Sevilla" />
        <activity
            android:name=".clases_layout.plaza_espana"
            android:exported="false"
            android:label="POI de Sevilla" />
        <activity
            android:name=".clases_layout.setas_encarnacion"
            android:exported="false"
            android:label="POI de Sevilla" />
        <activity
            android:name=".LoginApp.LoginActivity"
            android:label="Sitios Turisticos"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>